* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.logos{
    overflow: hidden;
    margin-top: 0px;
    padding: 0 0;
    white-space: nowrap;
    background-color: white;
}
.logos-slide{
    display: inline-block;
    animation: 15s slide infinite linear;
}
.logos-slide img{
    height: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0 25px;
}